.carrousel
  width: 100vw
  height: 100vh
  background-image: linear-gradient(to bottom, rgba(0, 2, 4, 1), rgba(16, 29, 55, 1));
  position: absolute
  left: 0
  top: 0
  z-index $indexCarousel

  &.no-touch
    pointer-events: none

  &.hidden
    display none

  button
    position relative
    bottom: 100px

  .carrousel-wrapper
    opacity 0
    pointer-events: none
    width: 100%
    height 100%
    transition .3s $quad-ease-out

    &.visible
      pointer-events: auto

  .carrousel__background
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px
    height: 580px;

    .img
      width: 100%
      height 100%

    .story
      position absolute
      top 150px
      left 50%
      transform: translateX(-50%)
      text-transform: lowercase
      color: $white
      font-family: RobotoCondensedLight
      font-size: 24px

      &:after
        content: ''
        width: 1px
        background-color #fff
        height: 40px
        opacity 0.8
        display block
        position absolute
        left: 50%
        transform translateX(-50%)
        top: -60px

      &:before
        content: ''
        width: 1px
        background-color #fff
        height: 80px
        opacity 0.8
        display block
        position absolute
        left: 50%
        transform translateX(-50%)
        bottom: -104px

      .number
        font-size: 12px
        position: absolute
        right -22px

  &__form
    width: 360px
    height: 580px;
    display block;
    z-index 1
    overflow: hidden
    position relative

    &__content
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position absolute
      width: 360px
      height: 580px;
      pointer-events: none

      .text-scrolling
        transition opacity .3s $quad-ease-out;
        opacity 0

      // &:hover
      //   transform: translate(-50%, -50%) scale(1.06);

      //   .text-scrolling
      //     // color $salmon

      //   .text-scrolling.stroke
      //     color transparent
      //     // -webkit-text-stroke: 1px $salmon;

      &.active
        pointer-events: auto
        opacity 1

        .text-scrolling
          opacity 1
