.carrousel
  width: 100vw
  height: 100vh
  background: black
  position: absolute
  left: 0
  top: 0
  z-index 3

  &__story
    font-family: Roboto;
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position fixed
    left: 50%;
    transform: translateX(-50%);
    z-index 2
    top: 20vh

    &__number
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height: 0.88;
      letter-spacing: 1px;
      color: #ffffff;

  &__form
    width: 521px;
    height: 818.7px;
    background-color: #242146;
    display block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius 400px 400px 0px 0px
    z-index 1

  &__textScrolling
    display: block;
    padding: 0;
    overflow: hidden;
    bottom: 260px
    position fixed
    width: 100vw;
    max-width: 100vw;
    height: 200px;
    z-index 2

    div
      position: absolute;
      min-width: 100%;

      span, &:after
        position: relative;
        display: inline-block;
        white-space: nowrap;
        top:0;
        -webkit-background-clip: text;
        background-image: url(https://dummyimage.com/600x400/ffffff/fff);
        background-repeat: no-repeat;
        background-position: 141px;
        background-size 521px

      span
        animation: defilement 10s infinite linear;
        margin-right: 10px

      strong
        margin 0 70px

      &:after
        position: absolute;
        top: 0px;
        left: 0px;
        content:attr(data-text);
        animation: defilement2 10s infinite linear;

  &__choice
    padding: 0
    background: transparent
    border: none
    margin: 0px
    outline: none
    -webkit-text-stroke: 1px #ffffff;
    font-family: Eczar;
    font-size: 180px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    //line-height: 0.89;
    letter-spacing: 6px;
    color: rgba(255, 255, 255, 0);
    display none

    &.active
      display block
      animation-duration: 6s;
      animation-name: textDefilement;
      animation-iteration-count: infinite;

  &.hidden
    display: none

@keyframes defilement {
  0% {
   // transform: translateX(0);
    // background-position: 141px
  }
  100% {
   // transform: translateX(-100%);
   // background-position: 1700px
  }
}

@keyframes defilement2 {
  0% {
   //transform: translateX(100%);
    //background-position: -1277px
  }
  100% {
   //transform: translateX(0);
   // background-position: 141px
  }
}