.carrousel
  width: 100vw
  height: 100vh
  background: black
  position: absolute
  left: 0
  top: 0
  z-index 3

  &__choice
    padding: 10px
    background: black
    color: white
    border: none
    margin-right: 20px
    cursor: pointer
    outline: none

  &.hidden
    display: none