.text-scrolling
  position absolute
  bottom: 80px
  left 50%
  color: $white
  font-size: 100px
  pointer-events: none;
  width: 100vw
  transform: translateX(-50%)
  font-family: EczarBold
  transition: color 0.3s $quad-ease-out;

  &.stroke
    color: rgba(255, 255, 255, 0)
    -webkit-text-stroke: 1px #ffffff;

  .wrapper
    display: inline-block;
    position: relative;
		white-space: nowrap;

  .wrapper span
    margin: 0 10px


.animated .text-scrolling .wrapper
  animation: translationLeft 15s infinite linear;

@keyframes translationLeft {
  0% { transform: translate(0) }
  100% { transform: translate(-50%) }
}

