.prld
  background: $light-salmon
  width: 100vw
  height: 100vh
  position fixed
  top: 0
  left: 0
  z-index 30
  display block
  transition: opacity .3s ease-out

  .title-container-l1
    position: absolute
    width: 100%
    height 100%
    display: flex
    justify-content: center
    align-items: center

  .title-container-l2
    position relative

    .title-wrapper
      position absolute
      top: 0
      height 0
      overflow hidden

  h2
    font-family: Eczar-Bold
    letter-spacing: 120px
    text-indent: 120px
    font-size: 160px
    color: $salmon
    position relative

    &.title-bordered
      color: $light-salmon
      text-shadow: 1px 0 0 $salmon, -1px 0 0 $salmon, 0 1px 0 $salmon, 0 -1px 0 $salmon, 1px 1px $salmon, -1px -1px 0 $salmon, 1px -1px 0 $salmon, -1px 1px 0 $salmon;

  &.loaded
    opacity: 0
    pointer-events: none
