.prld
  width: 100vw
  height: 100vh
  position fixed
  top: 0
  left: 0
  z-index $indexPreloader
  display block
  background-color: $white
  transition: opacity .6s $quad-ease-out, background-color .3s $quad-ease-in-out

  &.is-visible
    background-color: $light-salmon

    .title-container-l1
      opacity: 1

  .fakeBg
    position absolute
    width: 100%
    height 100%
    background-image: linear-gradient(to bottom, #000204, #101d37 80%, #101d37);
    opacity: 0
    transition: opacity .6s $quad-ease-in-out

    &.visible
      opacity 1

  .title-container-l1
    position: absolute
    width: 100%
    height 100%
    display: flex
    justify-content: center
    align-items: center
    opacity: 0
    transition: opacity .3s $quad-ease-out

    .baseline
      position absolute
      font-family: RobotoCondensedRegular
      font-size: 24px
      color: $salmon
      opacity 0
      padding-bottom: 20px;

    .title-container-l2
      position relative

      .title-wrapper
        position absolute
        top: 0
        height 0
        overflow hidden

    h2
      font-family: EczarBold
      letter-spacing: 120px
      text-indent: 120px
      font-size: 140px
      color: $salmon
      position relative

      &.title-bordered
        color: transparent;
        -webkit-text-stroke: 1px $salmon;
        text-shadow: none;

        .ie &
          color: $light-salmon
          text-shadow: 1px 0 0 $salmon, -1px 0 0 $salmon, 0 1px 0 $salmon, 0 -1px 0 $salmon, 1px 1px $salmon, -1px -1px 0 $salmon, 1px -1px 0 $salmon, -1px 1px 0 $salmon;

  &.loaded
    opacity: 0
    pointer-events: none
