.chronologie
  width: 95%
  height: 100%
  background: white
  margin-left: 100vw
  position: absolute
  z-index: 1
  overflow-y: auto
  top: 0

.chronologie::-webkit-scrollbar
   width: 0px
   background: transparent

  .fact
    position: relative
    display: flex
    border: solid 1px
    width: 100%
    height: 100vh
    opacity: 0.1
    background: url('https://www.st-wandrille.com/images/hautdepage/im-abbay.jpg')

  .fact-unlocked
  	opacity: 1

  .background
  	width: 300px

  .factContent
    color: white
    border: solid white
    width: 50%
    padding: 30px

  .fact img
    width: 300px
    height: 400px
    margin-left: 10%
    margin-right: 10%
    margin-top: 20%
      
	.character
	  display: block