#chronologie
  width: 100vw
  height: 100vh
  background: white
  position: absolute
  z-index: $indexChronologie
  top: 0
  overflow: auto
  transform: translateX(100vw)
  transition: transform 0.6s $quad-ease-out

  &.visible
    transform: translateX(0)

#chronologie::-webkit-scrollbar
   width: 0px
   background: transparent

  .fact
    position: relative
    width: 100vw
    height: 100vh
    background: url('https://www.st-wandrille.com/images/hautdepage/im-abbay.jpg')
    background-size: cover

  .fact-unlocked
  	opacity: 1

  .background
  	width: 300px

  .factContent
    position absolute
    color: black
    background: white
    width: 40%
    height: 60%
    top: 50%
    left: 50%
    opacity: 0.5
    padding: 40px
    opacity: 0.2
    transform: translate(0%, -50%)

  .character
    float: left
    width: 25%
    margin-left: 10%
    margin-right: 10%
    margin-top: 150px

  .factButtons
    margin-left: 45%
    margin-top: 20px

  .factButtons li
    display: inline-block
    margin-right: 10px

  .buttonFact
    height: 30px
    width: 100px

  .date, .name
    font-size: 40px
