#chronologie
  width: 100vw
  height: 100vh
  background: $light-salmon
  position: absolute
  z-index: $indexChronologie
  top: 0
  overflow: auto
  transform: translateX(100vw)
  transition: transform 0.6s $quad-ease-out

  &.smooth
    scroll-behavior: smooth;

  &.visible
    transform: translateX(0)

#chronologie::-webkit-scrollbar
   width: 0px
   background: transparent

  .fact
    position: relative
    width: 100vw
    height: 100vh

    .glass
      // opacity: 0
      transform: translate(-50%, -50%) scale(0.6);
      left: 30%
      pointer-events: none

    .locked-title
      pointer-events: none
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0
      transform: translate(-50%, -50%)
      z-index 2
      width: 55%;
      max-width: 550px;

      h2
        -webkit-text-stroke: 1.5px $salmon;
        font-family: EczarBold;
        font-size: 75px;
        text-align: center;
        color: transparent;
        letter-spacing: 4px
        line-height: 82px

      h3
        font-family: RobotoCondensedLight
        font-size: 24px
        margin-top: 30px
        text-align: center;
        color: $salmon;
        letter-spacing: 1px
        text-transform: lowercase


    &.locked
      .glass
        transform: translate(-50%, -50%) scale(0.75);
        left: 50%
        opacity 0.16
        pointer-events: auto

      .locked-title
        opacity: 1

      .content-container
        opacity 0

  .content-container
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .character
      height: 60%
      margin-right: 10px
      opacity 0
      display none

    .content
      font-family: RobotoCondensedRegular
      font-size: 15px
      color: black
      background: transparent
      width: 40%
      height: 60%
      opacity: 0.8
      padding: 40px
      margin-left: 10px
      transform: translateX(42%);

    .subContent
      position: relative
      top: 50%
      transform: translateY(-50%)

    .factButtons
      margin-left: 45%
      margin-top: 20px

    .factButtons li
      display: inline-block
      margin-right: 10px

    .buttonFact
      width: 12px
      position: absolute

    .buttonFactTop
      top: 10%

    .buttonFactBottom
      bottom 0

    .date
      margin-top: 15px
      font-size: 20px

    .name
      font-size: 11px
      margin-top: 10px
      margin-bottom: 28px
      letter-spacing: 1px;
      color: #f7b0a5
      font-weight: bold
      text-transform: uppercase

    .title
      margin-top: 10px
      font-size: 32px
      color: #090d22

    .text
      font-family: RobotoRegular
      font-size: 13.8px;
      line-height: 20px;

    .links
      font-family: RobotoMedium
      text-transform: uppercase
      margin-top: 20px
      font-size: 11px

    .textLink
      margin-right: 22px
      border-bottom: solid 0.2px
      padding-bottom: 2.8px
      cursor: none

    .imageLink
      border-bottom: solid 0.2px
      padding-bottom: 3px
      cursor: none


