.menu
  width: 100%

  &.light
    .menu__top-right button
      color: $light-black

    .menu__left-center button
      color: $light-black
      border: 1px solid rgba(0, 0, 0, 0.5)

    .nav-sound__btn div
      background: $light-black

    .nav-playpause__btn div
      background: $light-black

  &__top-right
    position absolute
    right: 50px
    top: 20px
    z-index: $indexMenu

    button
      padding: 10px 10px
      margin-right: 30px
      transition: color 0.6s $quad-ease-out;

      &:last-child
        margin: -10px

  &__left-center
    left: 50px
    top: 50%
    transform translateY(-50%)
    position: absolute
    z-index: $indexMenu

    button
      border: 1px solid rgba(255, 255, 255, 0.3)
      border-radius: 100%
      height: 34px
      width: 34px
      font-size: 10px;
      background-color transparent
      color: $white
      cursor: none
      outline: none
      display block
      margin 14px 0
      transition: color 0.6s $quad-ease-out, border 0.6s $quad-ease-out;;

  &__right-center
    right: 50px
    top: 50%
    transform translateY(-50%)
    position: absolute
    z-index: $indexMenu
    font-family: RobotoCondensed-Light
    transition: opacity .3s $quad-ease-out;

    &.hidden
      opacity 0
      pointer-events: none;

    button
      border: 0px
      background-color transparent
      color: $white
      outline: none
      display block
      padding: 5px
      margin 14px 0
      cursor: none

  .nav
    background-color transparent
    color: $white
    border 0px
    cursor: none
    font-weight: bold
    font-family: RobotoCondensed-Light
    letter-spacing: 2px
    font-size: 14px
    text-transform: lowercase

    &-playpause
      &__btn
        position: relative;
        height: 34px;
        width: 34px;
        display: block!important;

        div
          top: 17px;
          left: 19px;
          margin: -1px 0 0 -7px;
          width: 10px;
          height: 1px;
          position: absolute;
          background: #fff;
          display: block;
          transition: all 0.5s;
          transition: background 0.6s $quad-ease-out;

        .l1
          -webkit-transform: translate(-0px,-3px) rotate(30deg);
          transform: translate(-0px,-3px) rotate(30deg);

        .l2
          -webkit-transform: translate(-4px,0px) rotate(90deg);
          transform: translate(-4px,0px) rotate(90deg);

        .l3
          -webkit-transform: translate(-0px,2px) rotate(-30deg);
          transform: translate(-0px,2px) rotate(-30deg);

        &.pause
          .l1
            -webkit-transform: translate(2px,0px) rotate(90deg);
            transform: translate(2px,0px) rotate(90deg);

          .l2
            -webkit-transform: translate(-4px,0px) rotate(90deg);
            transform: translate(-4px,0px) rotate(90deg);

          .l3
            -webkit-transform: translate(-4px,0px) rotate(90deg);
            transform: translate(-4px,0px) rotate(90deg);

    &-sound
      &__btn
        &.pause
          .l1, .l2, .l3, .l4, .l5, .l6
            animation none
        div
          height: 2px
          width: 1px
          display inline-block
          margin 1px
          background-color: $white
          transition: 1s ease
          transition: background 0.6s $quad-ease-out;

        .l1, .l4
          animation-duration: 1s;
          animation-name: sound;
          animation-iteration-count: infinite;
          animation-direction: alternate;

        .l2
          animation-duration: .6s;
          animation-name: sound;
          animation-iteration-count: infinite;
          animation-direction: alternate;

        .l3, .l5
          animation-duration: 2s;
          animation-name: sound;
          animation-iteration-count: infinite;


@keyframes sound {
  from {
    height: 0
  }

  to {
    height: 5px
  }
}
