.menu
  width: 100%

  &__top-right
    position absolute
    right: 50px
    top: 20px
    z-index: $indexMenu

    button
      padding: 10px 10px
      margin-right: 30px

      &:last-child
        margin: -10px

  &__left-center
    left: 50px
    top: 50%
    transform translateY(-50%)
    position: absolute
    z-index: $indexMenu

    button
      border: 1px solid rgba(255, 255, 255, 0.3)
      border-radius: 100%
      height: 40px
      width: 40px
      background-color transparent
      color #fff
      cursor: none
      outline: none
      display block
      margin 14px 0

  &__right-center
    opacity 0
    pointer-events: none
    right: 50px
    top: 50%
    transform translateY(-50%)
    position: absolute
    z-index: $indexMenu

    button
      border: 0px
      background-color transparent
      color #fff
      outline: none
      display block
      padding: 5px
      margin 14px 0
      cursor: none

  .nav
    background-color transparent
    color: #f7b0a5
    border 0px
    cursor: none
    font-weight: bold

    &-playpause
      &__btn
        position: relative;
        height: 40px;
        width: 40px;
        display: block!important;

        div
          top: 20px;
          left: 20px;
          margin: -1px 0 0 -7px;
          width: 13px;
          height: 1px;
          position: absolute;
          background: #fff;
          display: block;
          transition: all 0.5s;

        .l1
          -webkit-transform: translate(-0px,-3px) rotate(30deg);
          transform: translate(-0px,-3px) rotate(30deg);

        .l2
          -webkit-transform: translate(-5px,0px) rotate(90deg);
          transform: translate(-5px,0px) rotate(90deg);

        .l3
          -webkit-transform: translate(-0px,3px) rotate(-30deg);
          transform: translate(-0px,3px) rotate(-30deg);

        &.pause
          .l1
            -webkit-transform: translate(3px,0px) rotate(90deg);
            transform: translate(3px,0px) rotate(90deg);

          .l2
            -webkit-transform: translate(-3px,0px) rotate(90deg);
            transform: translate(-3px,0px) rotate(90deg);

          .l3
            -webkit-transform: translate(-3px,0px) rotate(90deg);
            transform: translate(-3px,0px) rotate(90deg);

    &-sound
      &__btn
        &.pause
          .l1, .l2, .l3, .l4, .l5, .l6
            animation none
        div
          height: 2px
          width: 1px
          display inline-block
          margin-right 2px
          background-color #fff
          transition: 1s ease

        .l1, .l3
          animation-duration: 1s;
          animation-name: sound;
          animation-iteration-count: infinite;
          animation-direction: alternate;

        .l2, .l5
          animation-duration: .6s;
          animation-name: sound;
          animation-iteration-count: infinite;
          animation-direction: alternate;

        .l4, .l6
          animation-duration: 2s;
          animation-name: sound;
          animation-iteration-count: infinite;


@keyframes sound {
  from {
    height: 0
  }

  to {
    height: 5px
  }
}
