.timeline
  width: 100%
  border: solid 1px
  position: absolute
  z-index: 2
  bottom: 10%

  .chapter
    padding: 10px
    background: black
    border-radius: 10px
    border: none
    margin-right: 7%
    margin-left: 7%
    cursor: pointer
    outline: none
