.timeline
  width: 90%
  background: white
  margin-left: 100vw
  position: absolute

  .fact
    position: relative
    display: flex
    border: solid 1px
    width: 100%
    height: 500px
    opacity: 0.1
    background: url('https://www.st-wandrille.com/images/hautdepage/im-abbay.jpg')

  .fact-unlocked
  	opacity: 1

  	.background
  		width: 300px

	.character
	  display: block
	  position: absolute
	  height: 200px !important
	  width: 200px !important
	  left: 20%
	  margin-top: 100px

