.timeline
  width: 100%
  border: solid 1px
  position: absolute
  z-index: 2
  bottom: 10%
  height: 50px
  line-height: 50px

  .checkCircle
    border: solid 1px
    border-radius: 10px
    width: 50px
    height: 50px
    position: fixed
    left: 50vw

  .points

    .point
      width: 20px
      height: 20px    
      background: black
      border-radius: 10px
      border: none
      cursor: pointer
      outline: none
      position: absolute
      right: 0