#about
  width: 100vw
  height: 100vh
  background: $light-salmon
  position: absolute
  z-index: $indexChronologie
  top: 0
  overflow: auto
  transform: translateX(100vw)
  transition: transform 0.6s $quad-ease-out

  &.visible
    transform: translateX(0)


  .content
      font-family: RobotoRegular
      font-size: 13.8px
      position: absolute
      width: 60%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    .title
      text-align: left
      white-space: nowrap;
      font-size: 60px
      letter-spacing: 3px
      font-family: EczarBold
      color: transparent
      -webkit-text-stroke: 0.9px #f79586

      .love
        opacity 0.7
        font-size: 26px
        font-family: Eczar
        color: #f79586
        -webkit-text-stroke: inherit
        vertical-align: middle

    .description
      margin-top: 40px
      line-height: 19px
      font-family: RobotoCondensedLight;

    .helpers
      margin-top: 15px
      line-height: 19px
      font-family: RobotoCondensedLight;

    .team
      margin-top: 60px
      color: #f79586
      line-height: 19px

    .team li
      display: inline-block
      width: 20%

    .name
      font-size: 17px
      font-family: EczarMedium

    .job
      font-size: 11px
      text-transform: uppercase
      font-family: RobotoCondensedLight
