.indications
  display: inline-block
  z-index: $indexIndications
  position absolute
  bottom: 50px
  left: 50%
  color: $salmon
  font-family: EczarMedium
  transform: translateX(-50%)
  opacity: 0
  pointer-events: none
  transition: opacity .3s ease-out

  &.is-visible
    opacity: 1
