.indications
  display: inline-block
  z-index $indexIndicationsOnLoad
  position absolute
  bottom: 50px
  left: 50%
  color: $salmon
  font-family: EczarMedium
  transform: translateX(-50%)
  opacity: 0
  pointer-events: none
  transition: opacity .3s ease-out

  &.app-started
    z-index: $indexIndications

  &.is-visible
    opacity: 1
