html
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: hidden

html::-webkit-scrollbar
  width: 0px
  background: $light-salmon

body
  background: $light-salmon
  user-select: none
  font-family: RobotoCondensedRegular, 'Arial, Helvetica, sans-serif'
  width: 100%
  height: 100%
  position relative
  cursor: none

  &.prez
    background-image: linear-gradient(to bottom, #000204, #101d37 80%, #101d37);

  &::after
    content: '';
    z-index: $indexBodyAfter;
    position: fixed;
    top: -40%;
    left: -40%;
    display: block;
    width: 180%;
    height: 180%;
    pointer-events: none;
    background-repeat: repeat;
    opacity 0.35
    background-image: url('assets/img/backgound/noise.png');

  &.more-noise
    &::after
      animation: grainAnimation 3s steps(4) infinite;
      opacity 0.7

  .app
    width: 100%
    height: 100%
    background-image: linear-gradient(to bottom, #000204, #101d37 80%, #101d37);
    transition: opacity 3s $quad-ease-out;

    &.prez
      opacity 0

    &:before
      z-index $indexBorder
      position absolute
      content: ''
      width: 200px;
      height 100%
      display: block
      opacity 0.5
      background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, .1) 20%,  #000000 100%)

    &:after
      z-index $indexBorder
      content: ''
      width: 200px;
      height 100%
      display: block
      background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .1) 20%,  #000000 100%)
      position absolute
      opacity 0.5
      right 0
      top: 0


@keyframes grainAnimation {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-10%, 5%);
  }

  30% {
    transform: translate(5%, -10%);
  }

  40% {
    transform: translate(-5%, 15%);
  }

  50% {
    transform: translate(-10%, 5%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 10%);
  }

  80% {
    transform: translate(-15%, 0);
  }

  90% {
    transform: translate(10%, 5%);
  }

  100% {
    transform: translate(5%, 0);
  }
}
