.subtitles
  width: 90%
  text-align: center
  position: absolute
  color: $white
  bottom: 120px
  text-align: right
  left: 50%
  transform: translateX(-50%)
  font-size: 13px
  font-weight: lighter

  button
    padding: 10px
    background: black
    color: white
    border: none
    margin-right: 20px
    outline: none
