.subtitles
  width: 90%
  z-index $indexSubtitles
  text-align: center
  position: absolute
  color: $white
  bottom: 32px
  text-align: center
  left: 50%
  transform: translateX(-50%)
  font-size: 13px
  opacity 0.6
  font-family: RobotoCondensedLight
  letter-spacing: 0.5px

  button
    padding: 10px
    background: black
    color: white
    border: none
    margin-right: 20px
    outline: none
