.disclaimer
  z-index 100
  width: 100%
  height 100%
  background: $light-salmon
  position relative
  display: flex
  justify-content: center
  align-items: center

  p
    font-family: EczarMedium
    font-size: 16px
    color: $salmon
    max-width 70%
    line-height: 24px
    text-align: center
