.sound-timeline
  position: absolute
  pointer-events: none
  top: 0
  left: 0
  width: 100vw
  height 2px

  .wrapper
    width: 100%
    height 100%
    position: relative
    background rgba(255, 255, 255, 0.3)

  .inner
    width: 110%
    height 100%
    left -5%
    position: relative
    transform: scaleX(0)
    transform-origin: left;
    background rgba(255, 255, 255, 0.5)

