@font-face
   font-family EczarRegular
   font-style normal
   src url(assets/fonts/Eczar-Regular.ttf)

@font-face
   font-family EczarMedium
   font-style normal
   src url(assets/fonts/Eczar-Medium.ttf)

@font-face
   font-family Eczar-SemiBold
   font-style normal
   src url(assets/fonts/Eczar-SemiBold.ttf)

@font-face
   font-family EczarBold
   font-style normal
   src url(assets/fonts/Eczar-Bold.ttf)


@font-face
   font-family EczarExtraBold
   font-style normal
   src url(assets/fonts/Eczar-ExtraBold.ttf)


@font-face
   font-family RobotoCondensedLight
   font-style normal
   src url(assets/fonts/RobotoCondensed-Light.ttf)

@font-face
   font-family RobotoCondensedLightItalic
   font-style normal
   src url(assets/fonts/RobotoCondensed-LightItalic.ttf)

@font-face
   font-family RobotoCondensedRegular
   font-style normal
   src url(assets/fonts/RobotoCondensed-Regular.ttf)

@font-face
   font-family RobotoCondensedItalic
   font-style normal
   src url(assets/fonts/RobotoCondensed-Italic.ttf)

@font-face
   font-family RobotoCondensedBold
   font-style normal
   src url(assets/fonts/RobotoCondensed-Bold.ttf)

@font-face
   font-family RobotoCondensedBoldItalic
   font-style normal
   src url(assets/fonts/RobotoCondensed-BoldItalic.ttf)


