.intro
  background #000000
  width: 100vw
  height: 100vh
  position fixed
  top: 0
  left: 0
  z-index 20
  // display none

  p, span, a
    color: #fff

  .logo
    position: fixed
    left: 0
    top: 0
    z-index: 21

  .centerText
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%)

  .about
    position: fixed
    right: 0
    top: 0
    z-index: 21

  .actions
    position: fixed
    right: 0
    bottom: 0
    z-index: 21
