.message
  position fixed
  color #fff
  left 50%
  top 50%
  transform translate(-50%, -50%)
  background-color $blue-dark
  font-size 30px
  padding 20px
  transition .3s ease
  opacity 0

  &.active
    opacity 1