.mouse
  width: 30px
  height: 30px
  line-height: 30px
  position: fixed
  top: 0
  left: 0
  border-radius: 15px
  background-color: rgba(255, 45, 0, 0.52)
  z-index 22
  display none
  pointer-events none

  &.active
    display: block

.mouse__close-zone
  width: 90vw
  height: 90vh
  position: absolute
  left: 5vh
  top: 5vh
  cursor: none

.mouse__close
  &.hide
    display none
