.tutorial

  &__pictos
    text-align center

    img
      margin 0 33px

  &__bkgform
    width: 100%
    height: 100%
    background-image: url('assets/img/backgound/glasses.png')
    background-size: 60%;
    background-position: center;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-name: bckg;
    transition 0.3s ease

  .button
    position fixed
    bottom: 0
    left: 0

    button
      margin 10px

  &__close
    position absolute
    right: -80px
    top: -100px
    color: $salmon
    background-color transparent
    font-size 30px
    border 0px

    img
      width: 30px

  &__center
    position absolute
    left: 50%
    top: 50%
    transform translate(-50%, -50%)
    width: 670px
    text-align: center

  &__item
    display none
    background-image: linear-gradient(to bottom, rgba(0, 2, 4, 0.99), rgba(16, 29, 55, 0.99));
    width: 100vw
    height: 100vh
    position fixed
    top: 0
    left: 0
    z-index 80
    
    p, span
      color: $salmon
      font-family: Eczar;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.92;
      letter-spacing: normal;
      margin-top: 50px
      margin-bottom:0
      padding-bottom: 0

    &.active
      display block


@keyframes bckg {
  0% {
    background-position 48% 51%
  }
  100% {
    background-position 52% 48%
  }
}