.glass
  position absolute
  width: 70%
  height 60%
  left 50%
  top: 50%
  transform: translate(-50%, -50%) scale(0.75)
  display: flex
  justify-content: center
  align-items: center

  img
    position absolute
    opacity 0

    &:nth-of-type(1)
      transform: translateX(-159px) translateY(-150px);

    &:nth-of-type(2)
      transform: translateX(-32px) translateY(-282px);

    &:nth-of-type(3)
      transform: translateX(138px) translateY(-248px);

    &:nth-of-type(4)
      transform: translateX(-55px) translateY(-39px);

    &:nth-of-type(5)
      transform: translateX(140px) translateY(82px)

    &:nth-of-type(6)
      transform: translateX(-46px) translateY(252px);

    &:nth-of-type(7)
      transform: translateX(0px) translateY(312px);


