.chrono-timeline
  z-index: $indexChronologieTimeline
  position fixed
  right: 40px;
  top 50%
  transform: translateY(-50%)

  .container
    position relative
    display: flex
    flex-direction: column
    align-items: flex-end;

    .span-container
      position absolute
      width: 70px
      height 50%
      top: 52%
      overflow hidden
      transform: translateY(-50%);


    span
      font-size: 12px
      position absolute
      left: 10px
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.3s $quad-ease-out;

    .stick-container
      position relative
      width: 24px
      height 1px
      margin: 5px 0

      .stick
        width: 24px
        height 1px
        transform: scaleX(0.2)
        background: $light-black
        transform-origin: right;
        transition: transform 0.3s $quad-ease-out;

